body {
  background: rgb(105, 105, 105);
}

.container {
  display:flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 85%;
  border:1px solid #fcfcfc;
  padding:20px;
  border-radius: 5px;
  background: rgb(250, 247, 247);
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}
h1{
  text-align: center;
}
button {
  background: #2f7bbd !important;
}
p {
  color:red
}